<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/styles.css">

</head>
<body>
    <div class="article-list">
        <div class="container">










            <div class="intro">
                <h2 class="text-center"><%=hd%> near <%=oho%></h2>
                <p class="text-center" id="demo"></p>
            </div>
            <div class="row articles">
              <% for (var i = 0; i < array.length; i ++) { %>
                <div class="col-sm-6 col-md-4 item">
                    <h3 class="name"><%=array[i].entityName %></h3>
                    <h3 class="description">Latitude: <%=array[i].latitude%>, Longitude: <%=array[i].longitude%> </h3>
                    <h3 class="description">Total capacity: </h3><h3 class="description">Empty beds: </h3></div>
                <% } %>

    </div>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
